* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    font-family: 'Work Sans', sans-serif;
}

h1{
    font-family: 'Fjalla One', sans-serif;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

main {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

form {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
}

fieldset {
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

legend {
    font-weight: bold;
    font-size: 18px;
    padding: 0 5px;
}
